@import '../../styles/variables';

.page-header {
  margin: 30px auto 25px;
  padding: 0 5px;
  text-align: center;
  border-bottom: 2px solid grey;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &-title {
    font-family: 'Roboto Mono', monospace;
    font-size: 2em;
    padding-bottom: 6px;
    margin: 0;

    &-highlight {
      color: $color10;
    }
  }
}

.github-link {
  height: 18px;
  width: 120px;
  text-align: right;

  .github-svg {
    cursor: pointer;
    width: 20%;
  }
}
