@import '../../styles/variables';

.page-header {
  margin: 30px auto 25px;
  text-align: center;
  border-bottom: 2px solid grey;

  display: flex;
  max-width: 600px;
  justify-content: space-between;
  align-items: center;

  &-title {
    font-family: 'Roboto Mono', monospace;
    font-size: 2em;
    padding-bottom: 6px;
    margin: 0;

    &-highlight {
      color: $color10;
    }
  }
}
