.page-header {
  margin: 40px 0 20px;
  text-align: center;

  &-title {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.9em;
    margin-bottom: 16px;
  }

  .github-link {
    align-self: center;
    justify-content: center;
    height: 20px;

    &-icon {
      height: 20px;
      margin-left: 20px;
    }
  }
}
