@import '../../styles/variables';

.page-header {
  margin: 40px 0 25px;
  text-align: center;

  &-title {
    font-family: 'Roboto Mono', monospace;
    font-size: 2em;
    margin-bottom: 16px;

    &-highlight {
      color: $color10;
    }
  }

  .github-link {
    align-self: center;
    justify-content: center;
    height: 20px;

    &-icon {
      height: 20px;
      margin-left: 20px;

      &:hover {
        transform: scale(1.12, 1.12);
        transition: 200ms;
      }
    }
  }
}
