$color00: #fafafa;
$color01: #eaece9;
$color02: #bec3c9;
$color03: #70f2fc;
$color04: #f59e40;
$color05: #5abc64;
$color06: #56bcca;
$color07: #ee7fb3;
$color08: #f8f8f8;
$color09: #3a5783;
$color10: #3498db;
$color11: #0000ee;
$color12: #dc2b6a;

$color13: #011627;
$color14: #fdfffc;
$color15: #6874e8;
$color16: #a53860;