@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans:400,700|Roboto+Slab');

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px 0;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 65px 235px 45px 60px auto;
  grid-template-areas:
  "head head head head"
  "labels labels languages languages"
  ". keywords keywords ."
  ". get reset ."
  "results results results results";
}

.header {
  grid-area: head;
}

.labels-group {
  grid-area: labels;
}

.languages-group {
  grid-area: languages;
}

.keywords-input {
  grid-area: keywords;
}

.results {
  grid-area: results;
  max-width: 800px;
}

.get-button-wrapper {
  grid-area: get;
  align-self: center;
  justify-self: end;
  padding-right: 10px;
}

.reset-btn-wrapper {
  grid-area: reset;
  align-self: center;
  justify-self: start;
  padding-left: 10px;
}

.loading-spinner {
  grid-area: loading;
  grid-column: 2 / 4;
  grid-row: 6 / 7;
  margin-top: 50px;
}

.initial-homescreen {
  grid-column: 1 / 5;
  grid-row: 6 / 7;
  .get-issues-text {
    font-weight: 700;
  }
}





.toggle-title {
  margin-left: .5rem;
  vertical-align: top;
}


.get-issues-btn {
  width: 110px;
  height: 42px;
  color: #e7ff20;
  background-color: #7999a9;
  box-shadow: 2px 5px 10px var(--color-smoke);

  font-size: 13px;
  font-weight: 450;
}

.reset-btn {
  width: 82px;
  height: 28px;
  color: #e7ff20;
  background-color: #7999a9;
  font-weight: 450;
  box-shadow: 2px 5px 10px var(--color-smoke);
}


.keywords-text-input {
  border: 2px solid #aaa;
  border-radius: 4px;
  outline: none;
  padding: 8px;
  transition: 0.3s;
  width: 125px;

  &:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
  }
}
