@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Mono&display=swap');
@import './variables';

body {
  font-family: 'Lato', sans-serif;
  background-color: $color08;

  h3,
  h4 {
    font-weight: 400;
  }
}

.app-wrapper {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px 0;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 65px 235px 45px 60px auto;
  grid-template-areas:
    'head head . .'
    'labels labels languages languages'
    '. keywords keywords .'
    '. get reset .'
    'results results results results';
}

.header {
  grid-area: head;

  .page-title {
    font-family: 'Roboto Mono', monospace;
  }

  #header__greeting {
    // text-align: center;
  }

}

.labels-group {
  grid-area: labels;
}

.languages-group {
  grid-area: languages;
}

.keywords-input {
  grid-area: keywords;
}

.results {
  grid-area: results;
  max-width: 800px;

  @media only screen and (max-width: 800px) {
    max-width: 90vw;
  }
}

.get-button-wrapper {
  grid-area: get;
  align-self: center;
  justify-self: end;
  padding-right: 10px;
}

.reset-btn-wrapper {
  grid-area: reset;
  align-self: center;
  justify-self: start;
  padding-left: 10px;
}

.loading-spinner {
  grid-area: loading;
  grid-column: 2 / 4;
  grid-row: 6 / 7;
  margin-top: 50px;
}

.initial-greeting {
  grid-column: 1 / 5;
  grid-row: 6 / 7;
  text-align: center;

  p {
    font-weight: 300;
    b {
      font-family: 'Roboto Mono', monospace;
    }
  }
  .get-issues-text {
    font-weight: 700;
  }

    &::before {
        font-family: 'Roboto Mono';
        content: '*';
        font-size: 4em;
        float: left;
        position: relative;
        left: 105px;
        line-height: 0;
        color: $color10;
        margin: 0;
        padding: 0;
    }
}

.greeting-card {
    width: 70%;
    font-size: 0.9em;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: -1px 2px 4px rgba(0,0,0,.25), 1px 1px 3px rgba(0,0,0,.1);
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1em;
    overflow: auto;

    em {
        font-style: normal;
        color: $color09;
    }

    .greeting-img {
        width: auto;
        height: 6rem;
        float: right;
    }
}

.toggle-title {
  margin-left: 6px;
  vertical-align: top;
}

.get-issues-btn {
  width: 110px;
  height: 42px;
  color: #e7ff20;
  background-color: #7999a9;
  box-shadow: 2px 5px 10px var(--color-smoke);

  font-size: 13px;
  font-weight: 450;
}

.reset-btn {
  width: 82px;
  height: 28px;
  color: #e7ff20;
  background-color: #7999a9;
  font-weight: 450;
  box-shadow: 2px 5px 10px var(--color-smoke);
}

.keywords-text-input {
  border: 2px solid #aaa;
  border-radius: 4px;
  outline: none;
  padding: 8px;
  transition: 0.3s;
  width: 125px;

  &:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
  }
}
