@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Mono&display=swap');
@import './variables';

body {
  font-family: 'Lato', sans-serif;
  background-color: $color08;

  h3,
  h4 {
    font-weight: 400;
  }
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px 0;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 65px 235px 45px 60px auto;
  grid-template-areas:
    'head head . .'
    'labels labels languages languages'
    '. keywords keywords .'
    '. get reset .'
    'results results results results';
}

.header {
  grid-area: head;


  .page-title {
    font-family: 'Roboto Mono', monospace;

  }

  .header-description {
    font-size:15px;
    font-weight: 200;
  }
}

.labels-group {
  grid-area: labels;
}

.languages-group {
  grid-area: languages;
}

.keywords-input {
  grid-area: keywords;
}

.results {
  grid-area: results;
  max-width: 800px;

  @media only screen and (max-width: 800px) {
    max-width: 90vw;
  }
}

.get-button-wrapper {
  grid-area: get;
  align-self: center;
  justify-self: end;
  padding-right: 10px;
}

.reset-btn-wrapper {
  grid-area: reset;
  align-self: center;
  justify-self: start;
  padding-left: 10px;
}

.loading-spinner {
  grid-area: loading;
  grid-column: 2 / 4;
  grid-row: 6 / 7;
  margin-top: 50px;
}

.initial-greeting {
  grid-column: 1 / 5;
  grid-row: 6 / 7;
  text-align: center;
  background-image: linear-gradient(20deg,black 40%,#0984e3 50% ,black 10%);
  -webkit-background-clip: text;
  color:transparent;


  .greeting-description {
    max-width: 90%;
    margin:0 auto;
    font-size:18px;
  }

  p {
    font-weight: 700;
    b {
      font-family: 'Roboto Mono', monospace;
    }
    span {
      color: $color10;
    }
  }
  .get-issues-text {
    font-weight: 700;
  }
}

.toggle-title {
  margin-left: 6px;
  vertical-align: top;
}


.btn {
  width: 110px;
  height: 42px;
  color: whitesmoke;
  background-color: #3498db;
  font-weight: 450;
  
}

.btn:hover {
  background-color: black;
}

.btn:active {
  transform: scaleX(0.8);
}

.get-issues-btn {
  box-shadow: 2px 5px 10px var(--color-smoke);
}

.reset-btn {
  box-shadow: 2px 5px 10px var(--color-smoke);
}

.keywords-text-input {
  border: 2px solid #aaa;
  border-radius: 4px;
  outline: none;
  padding: 8px;
  transition: 0.3s;
  width: 125px;

  &:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
  }
}
