.pagination {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .btn {
    width: 100px;
    height: 32px;
    color: #e7ff20;
    background-color: #7999a9;
    box-shadow: 2px 5px 10px var(--color-smoke);
    font-size: 13px;
    font-weight: 450;

    &:disabled {
      opacity: 0.4;
    }

    + .btn {
      margin-left: 20px;
    }
  }
}
