.pagination {
  text-align: center;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;

  .btn {
    width: 100px;
    height: 32px;
    color: #e7ff20;
    background-color: #7999a9;
    box-shadow: 2px 5px 10px var(--color-smoke);
    font-size: 13px;
    font-weight: 450;

    &:disabled {
      opacity: 0.4;
    }

    + .btn {
      margin-left: 20px;
    }
  }

  .pagination-pages {
    margin-left: auto;
  }

  .pagination-count {
    margin: 0;
  }
}
