.result {
  padding: 1em;
  margin: 1.2em 0;
  background-color: #ffffff;
  box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.25), 1px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 0.2em;
  font-family: 'Lato', sans-serif;

  .header {
    display: flex;
    align-items: center;

    img {
      width: 3em;
      border-radius: 1.5em;
      margin-right: 1em;
    }
    a {
      font-family: 'Roboto Mono', monospace;
      text-decoration: none;
    }
  }
  .content {
    padding-left: 5px;

    .body-text {
      font-size: 1.1em;
      line-height: 1.4em;
      max-width: 800px;
      overflow-wrap: break-word;
      cursor: pointer;
    }

    .metadata {
      font-family: 'Roboto Mono', monospace;
      margin: 0.2em 0;
      color: #757575;

      .issue-age {
        font-size: 0.9em;
        margin-top: 4px;
      }
    }

    .mapped-labels {
      color: red;
      margin: 15px 0 5px;
    }
  }
}

.results-count {
  font-family: 'Roboto Mono', monospace;
  line-height: 2em;
  font-size: 1.2em;

  .highlight {
    font-weight: bold;
    color: #3498db;
    padding-left: 0.8em;
  }
}
