.result {
  padding: 1em;
  margin: 1.2em 0;
  background-color: #ffffff;
  box-shadow: -1px 2px 4px rgba(0,0,0,.25), 1px 1px 3px rgba(0,0,0,.1);
  border-radius: .2em;
  font-family: 'Lato', sans-serif;

  .header {
    display: flex;
    align-items: center;

    img {
      width: 3em;
      border-radius: 1.5em;
      margin-right: 1em;
    }
    a {
      font-family: 'Roboto Mono', monospace;
      text-decoration: none;
    }
  }
  .content {
    p {
      line-height: 1.4em;
      font-size: 1.1em;
    }

    .metadata > div {
      font-family: 'Roboto Mono', monospace;
      margin: .2em 0;
      color: #757575;
    } 
  }
}

.results-count {
  font-family: 'Roboto Mono', monospace;
  line-height: 2em;
  font-size: 1.2em;
  
  .highlight {
    font-weight: bold;
    color: #3498db;
    padding-left: .8em;
  }
}
