.result-wrapper {
  padding: 1.5em;
  margin: 0.75em 0 2em;
  background-color: #fff;
  box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.25), 1px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 0.2em;
  font-family: 'Times New Roman', Times, serif, Georgia, arial;
  justify-content: space-between;
  text-align: justify;
  box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.25), 1px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  &.clicked {
    opacity: 0.55;
  }

  .result-wrapper:hover{
    transform: scale(1.05);
  }
  .result-header {
    display: flex;
    align-items: center;

    .avatar {
      width: 3em;
      border-radius: 1.5em;
      margin-right: 1em;
      border: 1px solid black;
    }
    .link-title {
      font-family:  Georgia, Arial, sans-serif, monospace;
      text-decoration: none;
      font-size: 18px;
    }

    .link-title:hover {
      text-decoration: underline;
      transform: scale(1.017);
    }


  }

  .result-body {
    padding-left: 5px;

    .body-text {
      font-size: 1.1em;
      line-height: 1.4em;
      max-width: 800px;
      overflow-wrap: break-word;
    }

    .metadata {
      font-family: 'Roboto Mono', monospace;
      margin: 0.2em 0;
      color: #757575;

      .issue-age {
        font-size: 0.9em;
        margin-top: -8px;
      }
    }

    .issues-count{

    }
    .label-chips {
      margin: 5px 0 5px;
    }
  }
}
