@import '../../styles/variables';

.search-container {
  &-input {
    text-align: center;

    &-field {
      width: 225px;
    }
  }

  .button-group {
    text-align: center;
    margin: 20px 0 30px;

    .get-btn {
      margin-right: 10px !important;
      background-color: $color10 !important;
    }

    .reset-btn {
      margin-left: 10px !important;
      background-color: $color12;
    }
  }
}
