.result-wrapper {
  padding: 1em;
  margin: 0.75em 0 2em;
  background-color: #ffffff;
  box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.25), 1px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  font-family: 'Lato', sans-serif;

  &.clicked {
    opacity: 0.55;
  }

  .result-header {
    display: flex;
    align-items: center;

    .avatar {
      width: 3em;
      border-radius: 1.5em;
      margin-right: 1em;
    }

    .link-title {
      font-family: 'Roboto Mono', monospace;
      text-decoration: none;
      font-size: 1.4rem;
    }
  }

  .result-body {
    padding-left: 5px;

    .body-text {
      font-size: 0.9rem;
      line-height: 1.4em;
      max-width: 800px;
      overflow-wrap: break-word;
    }

    .metadata {
      font-family: 'Roboto Mono', monospace;
      margin: 0.2em 0;
      color: #757575;

      .issue-age {
        font-size: 0.7rem;
        margin-top: -8px;
      }
    }

    .label-chips {
      margin: 5px 0 5px;
    }

    .comments {
      font-size: 0.7rem;
      margin-top: -13px;
    }
  }
}

.dark-mode{
  .result-wrapper{
    background: #ffffff0f;
    box-shadow: -1px 2px 4px rgb(31,31,31), 1px 1px 3px rgba(0,0,0,.1);
    .result-header{
      a{
        color: #4e7fef;
      }
    }
  }
}