// @import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans|Roboto+Slab');

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

.toggle-buttons {
  margin: 40px 0 60px 0;
}